body {
    background-image: url(images/bgimg.PNG);
   background-size: 100%;
}

/* img {
    ima
} */

.bgcol{
    background-color: #c2f2d0;
    padding: 20px;
    border-radius: 40px;
    width: 25%;
   
    
}

input {
    width: 300px;
    margin: 5px;
    height: 50px;
    background-color: #ddf5e4;
    border-style: none;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text], [type=password]{
    font-size: large;
    font-family: "Century Gothic";
    font-weight: bolder;
    color: black;
    padding-left: 20px;
}

input::placeholder{
    font-size: large;
    font-family: "Century Gothic";
    font-weight: bolder;
    color: #6b3e26;
 
}

.login {
    width: 50%;
    background-color: #6b3e26;
    border-radius: 30px;
    border-color: #6b3e26;
    border-style: none;
    font-family: Century Gothic;
    color: white;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}

